*{
	margin:0;
	padding: 0;
	outline: 0;
}

.filter{
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	/*background: #e96443;   
	background: -webkit-linear-gradient(to right, #904e95, #e96443);   
	background: linear-gradient(to right, #904e95, #e96443); */
	
}

table{
	position: absolute;
	z-index: 2;
	left: 300px;
	top: 120px;
	/*transform: translateX(-50%, -50%);*/
	width: 60%;
	border-collapse: collapse;
	border-spacing: 0;
	border-radius: 12px 12px 0 0;
	overflow: hidden;
	box-shadow: 0 2px 12px rgba(32,32, 32, .3)
	background: white;
	/*height: 400px;*/
	text-align: center;
	background-color: white;
}
}

tr, td{
	padding: 15px 15px;
	background: #fafafa;
}

th{
	background: #ba68c8;
	color: #fafafa;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	padding: 5px;
}

td{
	font-family: 'Open Sans', sans-serif;
}


